font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;




body {
    margin: 0;
    
}



h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 0em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0em;
    padding-left: 1.5em;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: justify;
    padding: 1.5em;
    font-size: 12px;

}

.humburger {
    height: 50px;
}

.header {
    width: 424px;
    padding: 10px;
	font-family: Helvetica;
    margin-top: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em;

}

.coursename {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0em;

}


.humburgerposition {
    grid-column: 2;
    grid-row: 1;
    text-align: right;

}

.instructorposition {
    grid-column: 1;
    grid-row: 2;
    padding: 0;
}


.mainsection {
    
    background-color:white;
    padding: 0.5em;
    margin: 0.5em;
    width: 416px;
    

}

.note {

background-color: lightgray;
margin: 0em;
padding: 0.5em;
width: 416px;



}

.allnotes_btn {
    text-align: right;
    background-color: lightgrey;
    padding-right: 0.5em;
    
    width: 424px;

}



.folders {
    width: 416px;
    height: 600px;
    display: grid;
    grid-template-columns: 208px 208px;
    grid-template-rows: 208px 208px 208px 208px  ;
    grid-gap: 1em;
    margin-left: 1em;
    padding-right: 0em;
    


   
}

.folder {
    background-color: lightgray;
    text-align: center;
  
}

.textfolder {
    padding-top: 4em;
    

}




.notesbtns {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 416px;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;



}

.lowerbtns {
    text-align: right;
}


.studnotes {
    width: 416px;
    margin: 1em;
    
    
}

.gennotes {
    width: 416px;
    margin-left: 1em;
    
}

.cssbtn {
    background-color: blueviolet;
    color: white;
}
.htmlbtn {
    background-color: purple;
    color: white;

}

.javabtn {
    background-color: plum;
    color: white;

}
.asignmentsbtn {
    background-color: darkorchid;
    color: white;

}

.importantbtn {
    background-color: lightpink;
    color: white;
}

.notefolder {
    background-color: lightgray;
    text-align: left;
    margin-top: 0.5em;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #e45252;
    border-radius: 50%;
    display: inline-block;
    text-align: right;
  }